* {
  font-family: "Public Sans", sans-serif;
  color: #2a2d34;
}

body {
  background-color: #4873e2;
}

h1 {
  font-size: 1.4rem;
  font-weight: 800;
}

p {
  font-size: 0.9rem;
  color: #a5b1bf;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.card {
  width: 300px;
  margin-top: 50%;
  background-color: #ffffff;
  border-radius: 16px;
  text-align: center;
  grid-area: 1 / 3 / 2 / 4;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.card:hover {
  box-shadow: rgba(22, 143, 149, 0.2) 0px 4px 16px,
    rgba(69, 166, 240, 0.08) 0px 8px 32px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.cardText {
  margin-bottom: 36px;
}
.container {
  padding: 16px;
}

.btn {
  background-color: #2a2d34;
  height: 56px;
  width: 300px;
  margin-bottom: 20px;
  border-radius: 8px;
  display: table-cell;
  vertical-align: middle;
  font-size: 1.1rem;
  color: #ffffff;
  text-decoration: none;
}
.btn:hover {
  background-color: #4873e2;
  box-shadow: rgba(22, 143, 149, 0.5) 0px 4px 16px;
  cursor: pointer;
}
